<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div style="padding: 10px;">
        <!--Selector Custom Tag-->
      <app-selector></app-selector>
      <!--Selector Custom Tag-->

      <!-- Selector Attribute Tag-->
      <div app-attribute-selector></div>
      <!-- Selector Attribute Tag-->


      <!-- Selector Class Tag-->
      <div class="app-class-selector"></div>
      <!-- Selector Class Tag-->

      <app-server></app-server>
      </div>
      
    </div>
  </div>
</div>
