<label>Server Name</label>
<input type="text" class="form-control" (input) = "onUpdateServerName($event)">

<label>Server Name (ngModel)</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<!--Property Binding replacement for string interpolation-->
<p [innerText]="serverCreationStatus"></p>
<!--Property Binding replacement for string interpolation-->
<p [innerText]="serverName"></p>


<button (click)="serverName = ''" [disabled]="!allowNewServer" class="btn btn-primary btn-fill"> Add Server</button>
